.card {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

img {
  width: 5rem;
  height: 8rem;
  object-fit: cover;
  border-radius: 5px;
}

.movie-detail {
  display: inline-block;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
  width: 13rem;
}

@media screen and (min-width: 768px) {
  img {
    width: 7rem;
    height: 11rem;
  }
}
